head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title Tony Shorrocks - Coaching
    meta(name="viewport" content="width=device-width, initial-scale=1")

body
    .sidenav
        a(href="/") Introduction
        a(href="/teaching") Teaching
        a(href="/coaching") Coaching
        a(href="/profdev")  Professional Development
        a(href="/conducting") Conducting
        a(href="/adjudicating", class="current") Adjudicating
        a(href="/cv") CV
        a(href="/contact") Contact Me

    .main
        h1 Adjudicating

        h2 Testimony

        p.tab 
            i I had the pleasure of working with Tony during the annual music competition called Stella Polaris, which took place in Tórshavn from 31 st January to 2nd February 2019. Stella Polaris is a music competition for young, aspiring musicians under the age of 24 who are divided into three age groups. As organiser of the competition, part of my job was to find a panel of five judges to assess the participants. I contacted Tony to see if he would be interested in being the chairman of the panel. We also had one judge from Iceland and three Faroese judges. All four judges were very content with Tony’s efficiency and his ability to listen and take into account everyone’s opinion when trying to appoint the winners in every age group. Needless to say, it was no easy task seeing as there were 49 participants. Yet with Tony’s clear guidance and good spirit, the judges were able to reach a joint consensus.

        p.tab 
            i Apart from this I also know Tony from The University of Liverpool where I studied music in 2011-2014. Tony was a well-liked and respected teacher amongst us students and we all enjoyed his classes very much.

        p.tab
            i I want to thank Tony for agreeing to take part in Stella Polaris 2019 and I wish him best of luck in his future endeavors. I know he will do great!

        p.tab2
            i Edith Dahl Jakobsen, Teacher at the Music School in Tórshavn, Faroe Islands