head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
body
    .sidenav
        a(href="/teaching") Teaching
        a(href="/coaching", class="current") Coaching
        a.isDisabled() Professional Development
        a(href="/conducting") Conducting
        a.isDisabled() Adjudicating
        a(href="/cv") CV

    .main
        h1 Coaching

        p There can be no greater compliment from a fellow player in a chamber music setting than to be described as a Very Aware Player! Coaching groups to enhance and develop their skills so people can learn these skills is an unbounded joy in life as any serious player of chamber music will confirm, amateur or professional or anything in between.

        p I have coached chamber music at the Dartington International Summer School, at various further and higher education institutions, Musical Passages in France, Spain and Italy and latterly in Kosovo and Italy for “Music,  A Bridge Between People”.

        br

        h2 Testimony

        p(class="tab")
            i Dear Tony, <br/> Thank you for everything! I have learned a lot from you and you are one of the most amazing, wonderful people I know. It was a pleasure to work, create and play with you. <br/> Thank you very much!!"

        p(class="tab2")
            i Alja Bosjancic, Flute player in the Chamber orchestra of “Music, A Bridge Between People”, September 2019

        br

        p(class="tab")
            i Thank you again. I hope you don’t mind if I tell you what I really feel - that you are one of the best teachers and humans I have ever encountered and I really hope we can meet another time because getting taught by you is like finding what you already know, but without realising you did. Thank you again!

        p(class="tab2")
            i Freya Apelkvist, Principal Cello in the Symphony orchestra of “Music, a Bridge between People”, both 2018 and 2019
