head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
body
    .sidenav
        a(href="/teaching") Teaching
        a(href="/coaching") Coaching
        a.isDisabled() Professional Development
        a(href="/conducting", class="current") Conducting
        a.isDisabled() Adjudicating
        a(href="/cv") CV

    .main
        h1 Conducting / Directing

        p I have conducted several amateur orchestras, including for 20 years the Liverpool University Symphony orchestra who I took on tours to Germany, France, and Italy where we recieived 5 consequetive standing ovations for performances of Rachmaninoff second symphony.

        br

        h2 Testimony

        p(class="tab")
            i I can’t say how much I owe to Tony Shorrocks as a violinist. By listening to him and taking it seriously I have made a huge growth in confidence and technical ability. Whereas I used to be lost at the back of the seconds, mostly lost, I am now in the firsts with Crosby Symphony Orchestra, leading my own string quartet, and able to make a decent shot of Stravinsky, Sibelius, and Mahler. Tony is always ready to listen if you take him a playing problem or an instrument-issue like a hissing string; he will sort it out with an effective remedy and he will give practical advice about choosing an instrument, whether to join this or that orchestra, or about the proper size of shoulder rest. Not to mention rhythm, pulse, bow grip, arm angle and so on … stuff that really begins to make a difference straight away!

        p(class="tab2")
            i Dr Frederick Jones, Violinist, October 2019
