head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
body
    .sidenav
        a(href="/teaching") Teaching
        a(href="/coaching") Coaching
        a(href="/pd") Professional Development
        a(href="/conducting", class="current") Conducting
        a(href="/adjudicating") Adjudicating
        a(href="/cv") CV

    .main
        h1 Conducting / Directing

        p I have conducted several amateur orchestras, including for 20 years the n Liverpool University Symphony orchestra who I took on tours to Germany, France, and Italy where we recieived 5 consequetive standing ovations for performances of Rachmaninoff second symphony.

        br

        h2 Testimony

        p(class="tab")
            i Time and time again in the University Orchestra and in the Chamber Orchestra under Tony I flet thatI was learning a lot about playing the violin in a short time. Rhythm, pulse, technique something new every time. From being lost and at sea at the back of the seconds, by listening to Tony and taking it seriously I moved forward bit by bit until I could face with some reasonable confidence the demands of playing Bruckner, Sibelius, and now (as a first violin) Mahler!

        p(class="tab2")
            i Dr Frederick Jones, Violinist, October 2019
