head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title Tony Shorrocks - Contact Me
    meta(name="viewport" content="width=device-width, initial-scale=1")

body
    .sidenav
        a(href="/") Introduction
        a(href="/teaching") Teaching
        a(href="/coaching") Coaching
        a(href="/profdev") Professional Development
        a(href="/conducting") Conducting
        a(href="/adjudicating") Adjudicating
        a(href="/cv") CV
        a(href="/contact", class="current") Contact Me

    .main
        h1 Contact me

        img(src="img/tony2.jpg")

        h2 eMail:
        h3 tonyteachervlnvla(at)gmail(dot)com