head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
body
    .sidenav
        a(href="/teaching") Teaching
        a(href="/coaching") Coaching
        a.isDisabled() Professional Development
        a(href="/conducting") Conducting
        a.isDisabled() Adjudicating
        a(href="/cv", class="current") CV

    .main

        h1 About Me

        p I am an insturmental teacher, performer, coach, and mentor with a very wide knowledge and experience of music education gained over a 40 year career as as musician and teacher.

        br

        h2 Performance

        p In my career I have played with the BBC Northern Symphony Orchestra/BBC Philharmonic, Royal Liverpool Philharmonic, City of Birmingham Symphony Orchestra, Opera North, and others in the North of England.

        p I have performed chamber music with the Adriatica Sinfonica and more recently with Ensemble Quartetto Montefiore piano quartet, also on period instruments with Sprezzatura, the English Baryton Trio, and Sonnatas a tre.

        p Outside of classical music I have performed on pop music tours with Elaine Page, Shirley Bassey, Howard Keele, Johnny Dangworth, George Shearing, the Beverley Sisters, Kid Creole and the Cocoanuts, Top of the Pops with Dusty Springfield and others.

        br

        h2 Conducting / Directing

        p For 20 years I directed and conducted the Liverpool University Symphony Orchestra, taking them on tours to Italy, Germany and France and the Chamber Orchestra to its own 10 day summer course in Normandy. I initially gained teaching experience at the College of Ripon and York St. John, then Liverpool Hope University and since 1995 at Liverpool University. After being appointed as Head of Performance a year later in 1996 I set out to develop a performance course for the undergraduate degree that has annually attracted positive comments on external examiners reports. Building on that success I developed a masters level course with a symbiotic performance and pedagogy content.

        p Currently I am Artistic Director of the international youth orchestra project “Music, a Bridge Between People” which has orchestral members drawn from 12 Meditereanean countries and have just been appointed as a consultant to 'Lavigne', a teaching studio in Beijing.
