head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title Tony Shorrocks
    meta(name="description" content="Tony Shorrocks is a string instrument teacher with vast experience, located in Liverpool")
    meta(name="viewport" content="width=device-width, initial-scale=1")

body
    .sidenav
        a.current(href="/") Introduction
        a(href="/teaching") Teaching
        a(href="/coaching") Coaching
        a(href="/profdev") Professional Development
        a(href="/conducting") Conducting
        a(href="/adjudicating")  Adjudicating
        a(href="/cv") CV
        a(href="/contact") Contact Me

    .main
        h1 Introduction

        img(src="img/tony1.jpg")

        p(style="text-align: center; margin: 5px; margin-top: 25px")
            i Tell me, I forget;

        p(style="text-align: center; margin: 5px;")
            i Show me, I might remember;

        p(style="text-align: center; margin: 5px;")
            i Involve me, I understand and learn.

        p Welcome to this website about my instrumental teaching, chamber music coaching and training, directing and conducting coaching, teaching and performance and professional development mentoring.
        
        p I make no apologies for the word count - I hope what is here will be of interest to all who have an interest in the subjects and that at least some of this will be found to be useful. I offer input to all the areas covered in the menu; Teaching, Coaching, Professional Development as lessons or workshops and if any aspects are of interest please get in touch.
        
        p All testimonials are verbatim and un-doctored, and many are unsolicited. I have been both rewarded and humbled in collecting them and seeing them all in one place!
