doctype html

head
	// Required meta tags
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	// Bootstrap CSS
	link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
	script(src="https://kit.fontawesome.com/303bfca8f2.js" crossorigin="anonymous")
	title Professional Development

body
	.container
		include ./includes/topBar.pug
		+topbar("Professional Development")

		p.mt-4 I have been involved in the professional development of instrumental teachers since 1995 when the ABRSM started the Certificate of Teaching (CT) course. I was invited to become a Mentor, and over the next 20 years worked as a Mentor to groups of students in Manchester, Birmingham and Sheffield. 

		p I was subsequently asked to give INSET days to music services in Lincoln, Dorset and Gateshead and In 2006 I was able to create, run and teach a masters level course at Liverpool University that had a strong Pedagogy strand which further developed my experience and ideas and has led to several graduates of that course asking for input and advice on teaching matters as a mentor to their teaching practises work, most recently “Musical Minds” based in north Liverpool and the “Lavigne” music teaching school in Beijing.  

		p I can offer tailor-made input for individuals, groups, and institutions as one-offs or as a series of sessions over whatever period of time is desired. The one-to-one - or groups of perhaps up to 4 at a time - lesson of so much instrumental teaching is often neglected as a subject of study and often benefits enormously from comment and ideas from an experienced outsider, and I can offer observations and structured work on most aspects of instrumental teaching and learning.

		p Different levels of professional development might be:
		ul
			li One-off observations of lessons and feedback and comment sessions following them
			li One-off lessons for “stuck” pupils
			li Specific problem solving sessions with both teacher and pupil gaining ways into tackling individual problems
			li Viewing of videos of lessons with the teacher to develop self-observational skills
			li A series of videos or lesson observations, the number of which is decided in advance with the intention of creating linearity and development.

		p Any other requests or ideas you might have please contact me. 
		p The only silly questions are the ones that are not asked.

		br

		h2 Testimony

		p.ml-3
			i When I applied to study on the MMUS course at the University of Liverpool and was interviewed by Tony, I was immediately struck that this was someone whose experience and understanding of performing and teaching I could benefit from. He makes people of all ages and abilities feel totally at ease and communicates with them on a level they can understand, whatever their previous experience or background.

		p.ml-3
			i Tony approaches things differently to other teachers. His focus is on bringing out the best in every student by allowing them the opportunity for self-analysis and creative development. He doesn't provide the solutions - he enables and facilitates a mutually supportive atmosphere that makes you question previously held opinions. This allows you to develop ideas and techniques and to integrate them into your performing and teaching. I am aware that he gives unstintingly of his time, above and beyond what is required, to all students that request it and that he is passionate about what he does. I have adapted my own teaching style because of him and seen the benefits of this.

		p.ml-3
			i As a mature student, I have had the opportunity, over many years of learning, teaching and performing, to observe and experience many styles of delivery at all levels. None have been more successful or stimulating than that of Tony Shorrocks. I feel privileged to have come under his influence.

		p.text-muted
			i - Stewart Hankinson, mature student 2018/19, professional class and vocal teacher and performer.

	// Optional JavaScript
	// jQuery first, then Popper.js, then Bootstrap JS
	script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')