head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title Tony Shorrocks
    meta(name="description" content="Tony Shorrocks is a string instrument teacher with vast experience, located in Liverpool")
    meta(name="viewport" content="width=device-width, initial-scale=1")

body
    .sidenav
        a(href="/intro") Introduction
        a(href="/", class="current") Teaching
        a(href="/coaching") Coaching
        a(href="/profdev") Professional Development
        a(href="/conducting") Conducting
        a.isDisabled() Adjudicating
        a(href="/cv") CV
        a(href="/contact") Contact Me

    .main
        h1 Teaching

        p Instrumental teaching, usually in 1 - 1 lessons, is often regarded as the core of learning an instrument. At its best it is a very special experience for both teacher and pupil yet so often can become something less enjoyable and even destructive. My teaching is based on the following three statements that I regard as axiomatic:

        .quote
            i Teaching is not Telling <br/>
            i Telling is not doing Teaching <br/>
            i We learn what we Experience <br/>

        p I also have this aphorism for the learning process:

        .quote
            i Practice makes permanent <br/>
            i But, <br/>
            i Practice is Change! <br/>

        br

        p With this as a philosophy of the task of instrumental learning I have taught people of all levels and particularly specialise in the reduction and at times elimination of the pains and aches which are too often associated with playing a stringed instrument.

        p A comprehensive understanding of human skeletal and muscular mechanics together with a knowledge of a players technical needs usually enables me to help pupils play more easily and comfortably. We all know that technique make playing better possible, and I focus very much on the "how" of playing in order for the pupil to feel that change and progress are both understandable and possible.

        p My teaching is very pupil focused - all my pupils will say that one of my popular questions to them is "What instrument do I teach?". The correct answer being "the human operating the instrument." This approach is coupled with a conviction that each of us develops our own understanding of our relationship with an instrument and to this end I ask all pupils to engage in their own log of their experiences of learning.

        br

        h2 Testimony

        p.tab
            i I know many teachers, but Tony is cast in a different mould. Tony is no ordinary teacher. I can heartily commend many aspects of his teaching, but I will leave all of that to others to do except for the one that has struck me with greatest force.

        p.tab
            i Tony has an unusually perceptive take on things. He was not content with just showing me how to do things. He took me several layers deeper than that by going to extraordinary lengths to make sure I understood how things worked.

        p.tab
            i I came to learn not just how to play my instrument well, but how to understand, verbalise and intuit the various aspects of my playing which I was able to see refracted through the prism of what I shall call the biomechanics of violin playing. Tony had discovered and was passing on to me how to get the most and the best from the least and correct application of effort.

        p.tab2
            i Romain Rabot, teacher of violin and keen amatuer player

        br

        p.tab
            i I began playing the violin at the age of 6 then the viola aged 9 and quickly found myself playing extremely demanding music in an institutionalised setting. This worked wonders for my musical ability however by the time I met Tony, aged 20, I had spent two years telling myself I would never play again, certainly not professionally, due to the intense nature of my schooling.

        p.tab
            i It had left me very confused and frustrated and I had an extremely complicated relationship with my viola.  Whilst working with Tony for the duration of my degree at the University of Liverpool, I slowly but surely grew to love my instrument again and found comfort and calm in the practise room. My lessons with Tony varied in length and activity based on what he perceived I needed that day. Sometimes we would be in a practise room for two hours and not play a note but instead talk, think, write and approach the instrument, and its context within my life, in a very methodical and meditative way.

        p.tab
            i He encouraged me to keep a practise diary, which I approached lackadaisically at the time often seeing myself as above such practises thanks to a superiority complex hangover from my earlier days at music school. That being said, in my practise now, as a professional musician and educator working for the Liverpool philharmonic, it is something I swear by not only in my own practise but with my students too. That is what Tony does though, he makes small but significant changes to his students outlooks and practises as well as their playing. He does not cut corners and use quick fixes, but gets to know his students so well that not only do they make changes long term musically but, certainly in my case anyway, in many other areas of life.

        p.tab2
            i Emily Vanlint, Lead Musician at "In Harmony", RLPO. Formerly at Wells Cathedral School and St Mary's , Edinburgh. Semi-finalist, BBC Young Musican Of The Year.

        br

        p.tab
            i I couldn’t recommend Tony more as a violin teacher. His approach to teaching is like no other that I have experienced and I am confident is not matched by many others. His unique approaches have allowed me to play in a way I could only have dreamed of before starting lessons with him! Improving my technique has been a process that I initially thought would be long and gruelling however has ended up being extremely enjoyable and rewarding. I leave each lesson with a buzz of positivity, confidence and motivation to learn!

        p.tab2
            i Rebecca Young, teacher and player in her mid twenties

        br

        p.tab
            i I met Tony for the first time when I started my undergraduate course at the University of Liverpool. I moved to Liverpool to study English with Music and Tony was my viola tutor for all the three-year duration of my course. It was my first time in the UK and, as it turned out later on, the first step towards my career in music – a step that I would not be even dreamed of pursuing without Tony’s support.
        
        p.tab
            i I was an ambitious young student who worked so hard to get into this ‘red brick university’ abroad and whose understanding of playing the viola had been shaped by the strictness of the Eastern European educational system. The system, which was to provide a solid education for professional musicians, proved to be limiting in terms of my personal development as a violist as well as harmful to my sensitive personality. Learning to play in such environment strongly affected my confidence not only as a musician or a music student but also, in some way, as a person so that in the end I seemed to be loving only the idea of ‘me playing the viola’ and not playing the viola per se.

        p.tab
            i Tony was the first and the only person who listened to me and who tried to understand of what I was going through at that time. He showed me that it&#39;s not just about the hard work and blind repetition but, above all, the idea is to understand yourself as player and to understand the instrument, and that’s what eventually allow you to find the best way to teach yourself. Subsequently, he created a positive learning environment during his classes so I could learn how to implement those fundamentals and then work on the proper technique of playing the viola. Most of all, he helped me to built up my confidence and taught me how to trust my musical abilities which, in turn, had a major impact on the projection of a sound and the reassurance of the technique that I have already gained.

        p.tab 
            i Tony is a great tutor, pedagogist and a person who believed in me and my musical abilities at the time when others allowed me to lose my motivation to be the violist, let alone the future instrumental tutor. He knew I will be a good tutor myself before I could even speak a fluent English and, once I started teaching, he helped me a lot on the way to my professional development. I’m very grateful for what he has taught me and I couldn’t recommend him more.

        p.tab2
            i Justyna Skop, Polish undergraduate 2016/19, currently doing a masters degree in London.

