head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
body
    .sidenav
        a(href="/teaching", class="current") Teaching
        a(href="/coaching") Coaching
        a.isDisabled() Professional Development
        a(href="/conducting") Conducting
        a.isDisabled() Adjudicating
        a(href="/cv") CV

    .main
        h1 Teaching

        p Instrumental teaching, usually in 1 - 1 lessons, is often regarded as the core of learning an instrument. At its best it is a very special experience for both teacher and pupil yet so often can become something less enjoyable and even destructive. My teaching is based on the following three statements that I regard as axiomatic:

        .quote
            i Teaching is not Telling <br/>
            i Telling is not doing Teaching <br/>
            i We learn what we Experience <br/>

        p I also have this aphorism for the learning process:

        .quote
            i Practice makes permanent <br/>
            i But, <br/>
            i Practice is Change! <br/>

        br

        p With this as a philosophy of the task of instrumental learning I have taught people of all levels and particularly specialise in the reduction and at times elimination of the pains and aches which are  too often associated with playing a stringed instrument.


