head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
body
    .sidenav
        a(href="/teaching", class="current") Teaching
        a(href="/coaching") Coaching
        a.isDisabled() Professional Development
        a(href="/conducting") Conducting
        a.isDisabled() Adjudicating
        a(href="/cv") CV

    .main
        h1 Teaching

        img(src="img/tony1.jpg")

        p Instrumental teaching, usually in 1 - 1 lessons, is often regarded as the core of learning an instrument. At its best it is a very special experience for both teacher and pupil yet so often can become something less enjoyable and even destructive. My teaching is based on the following three statements that I regard as axiomatic:

        .quote
            i Teaching is not Telling <br/>
            i Telling is not doing Teaching <br/>
            i We learn what we Experience <br/>

        p I also have this aphorism for the learning process:

        .quote
            i Practice makes permanent <br/>
            i But, <br/>
            i Practice is Change! <br/>

        br

        p With this as a philosophy of the task of instrumental learning I have taught people of all levels and particularly specialise in the reduction and at times elimination of the pains and aches which are too often associated with playing a stringed instrument.

        br

        h2 Testimony

        p.tab
            i I know many teachers, but Tony is cast in a different mould. Tony is no ordinary teacher. I can heartily commend many aspects of his teaching, but I will leave all of that to others to do except for the one that has struck me with greatest force.

        p.tab
            i Tony has an unusually perceptive take on things. He was not content with just showing me how to do things. He took me several layers deeper than that by going to extraordinary lengths to make sure I understood how things worked.

        p.tab
            i I came to learn not just how to play my instrument well, but how to understand, verbalise and intuit the various aspects of my playing which I was able to see refracted through the prism of what I shall call the biomechanics of violin playing. Tony had discovered and was passing on to me how to get the most and the best from the least and correct application of effort.

        p.tab2
            i Romain Rabot, teacher of violin and keen amatuer player

        br

        p.tab
            i I began playing the violin at the age of 6 then the viola aged 9 and quickly found myself playing extremely demanding music in an institutionalised setting. This worked wonders for my musical ability however by the time I met Tony, aged 20, I had spent two years telling myself I would never play again, certainly not professionally, due to the intense nature of my schooling.

        p.tab
            i It had left me very confused and frustrated and I had an extremely complicated relationship with my viola.  Whilst working with Tony for the duration of my degree at the University of Liverpool, I slowly but surely grew to love my instrument again and found comfort and calm in the practise room. My lessons with Tony varied in length and activity based on what he perceived I needed that day. Sometimes we would be in a practise room for two hours and not play a note but instead talk, think, write and approach the instrument, and its context within my life, in a very methodical and meditative way.

        p.tab
            i He encouraged me to keep a practise diary, which I approached lackadaisically at the time often seeing myself as above such practises thanks to a superiority complex hangover from my earlier days at music school. That being said, in my practise now, as a professional musician and educator working for the Liverpool philharmonic, it is something I swear by not only in my own practise but with my students too. That is what Tony does though, he makes small but significant changes to his students outlooks and practises as well as their playing. He does not cut corners and use quick fixes, but gets to know his students so well that not only do they make changes long term musically but, certainly in my case anyway, in many other areas of life.

        p.tab2
            i Emily Vanlint, Lead Musician at "In Harmony", RLPO. Formerly at Wells Cathedral School and St Mary's , Edinburgh. Semi-finalist, BBC Young Musican Of The Year.

        br

        p.tab
            i I couldn’t recommend Tony more as a violin teacher. His approach to teaching is like no other that I have experienced and I am confident is not matched by many others. His unique approaches have allowed me to play in a way I could only have dreamed of before starting lessons with him! Improving my technique has been a process that I initially thought would be long and gruelling however has ended up being extremely enjoyable and rewarding. I leave each lesson with a buzz of positivity, confidence and motivation to learn!

        p.tab2
            i Rebecca Young, teacher and player in her mid twenties

