head
    link(href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
body
    .sidenav
        a(href="/teaching", class="current") Teaching
        a(href="/coaching") Coaching
        a.isDisabled() Professional Development
        a(href="/conducting") Conducting
        a.isDisabled() Adjudicating
        a(href="/cv") CV

    .main
        h1 Teaching

        img(src="img/tony1.jpg")

        p Instrumental teaching, usually in 1 - 1 lessons, is often regarded as the core of learning an instrument. At its best it is a very special experience for both teacher and pupil yet so often can become something less enjoyable and even destructive. My teaching is based on the following three statements that I regard as axiomatic:

        .quote
            i Teaching is not Telling <br/>
            i Telling is not doing Teaching <br/>
            i We learn what we Experience <br/>

        p I also have this aphorism for the learning process:

        .quote
            i Practice makes permanent <br/>
            i But, <br/>
            i Practice is Change! <br/>

        br

        p With this as a philosophy of the task of instrumental learning I have taught people of all levels and particularly specialise in the reduction and at times elimination of the pains and aches which are  too often associated with playing a stringed instrument.

        br 

        h2 Testimony

        p.tab
            i I know many teachers, but Tony is cast in a different mould. Tony is no ordinary teacher. I can heartily commend many aspects of his teaching, but I will leave all of that to others to do except for the one that has struck me with greatest force.

        p.tab 
            i Tony has an unusually perceptive take on things. He was not content with just showing me how to do things. He took me several layers deeper than that by going to extraordinary lengths to make sure I understood how things worked.

        p.tab 
            i I came to learn not just how to play my instrument well, but how to understand, verbalise and intuit the various aspects of my playing which I was able to see refracted through the prism of what I shall call the biomechanics of violin playing. Tony had discovered and was passing on to me how to get the most and the best from the least and correct application of effort.

        p.tab2
            i Romain Rabot


