* {
    font-family: 'Jomolhari', serif;
}

body {
    margin: 0;
    background: #fcfcfc;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font-size: 20;
}

.quote {
    font-size: 20;
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline-block;
    margin-left: 40px;
}

.tab {
    margin-left: 40px;
}

.tab2 {
    margin-left: 80px;
}


.sidenav {
    height: auto;
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 10px; /* Stay at the top */
    left: 10px;
    background: rgb(91,140,90);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px 0px 20px 0px;
}

/* The navigation menu links */
.sidenav a {
    font-family: 'Montserrat', sans-serif;
    padding: 12px 8px 12px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #111d13;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #d3d5d4;
}

/* When you mouse over the navigation links, change their color */
.sidenav .current {
    text-decoration: underline;
    text-decoration-style: double;
}

/* Style page content */
.main {
    margin-left: 190px; /* Same as the width of the sidebar + 10 */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
